@{
    ViewBag.Title = "Cadastro de Usuário - Sucesso";
}

<section class="energy-section-login">
        <h2>Cadastro realizado com sucesso!</h2>
        <p>O usuário foi cadastrado com sucesso. Você pode voltar à lista de usuários ou cadastrar outro usuário.</p>

        <div>
            <a asp-action="Logar" asp-controller="Login" class="btn btn-primary">realize o login</a>
            <a asp-action="Criar" asp-controller="Usuario" class="btn btn-secondary">Cadastrar novo usuário</a>
        </div>
 
</section>
