@{
    ViewBag.Title = "Atualização dos dados - Sucesso";
}

<section class="energy-section" style="min-height: 80vh;">

    <h2>Atualização realizada com sucesso!</h2>
    <p>Os dados foram cadastrado com sucesso. Você pode voltar à Dados Cadastrais e conferir.</p>

    <div>
        <a asp-controller="DadosCadastrais" asp-action="Consultar"  class="btn btn-primary">Verificar dados cadastrais</a>
        <a asp-controller="Home" asp-action="Hero" class="btn btn-secondary">Home</a>
    </div>
</section>