@{
    ViewBag.Title = "Cadastro de Usuário - Sucesso";
}

<h2>Cadastro realizado com sucesso!</h2>
<p>O usuário foi cadastrado com sucesso. Você pode voltar à lista de usuários ou cadastrar outro usuário.</p>

<a asp-action="Consultar" asp-controller="Cliente" class="btn btn-primary">Verificar lista de usuários</a>
<a asp-action="Criar" asp-controller="Cliente" class="btn btn-secondary">Cadastrar novo usuário</a>