@{
    ViewData["Title"] = "Objetivo";
}
<h1>@ViewData["Title"]</h1>


<p>Nosso objetivo é reduzir os altos custos de sinistros, sem evitar consultas, mas sim prevenindo consultas de valores elevados e fora do comum. Ao incentivar consultas preventivas, economizaremos recursos e diminuiremos a necessidade de atendimentos emergenciais.</p>

<p>Nosso modelo vai sugerir consultas ao cliente com base em suas preferências de atendimento, como local, data, horário, com especialistas que possuem qualidade acima de nota 4 e com custos baixos. Iremos treinar a IA para procurar o cliente primeiro, ao invés de esperar que ele nos procure com problemas maiores.</p>

<p>Por exemplo, se uma pessoa realiza limpezas e radiografias ósseas a cada 5 ou 6 meses, pode evitar extrações devido a cuidados bucais inadequados, que podem custar cerca de dois mil reais. Em nosso cenário, esse valor é extremamente alto. É mais vantajoso cobrir uma consulta de 200 reais, que representa apenas 10% do custo de um procedimento emergencial.</p>

<p>Além disso, vamos atender as clínicas e parceiros, levando mais clientes e aumentando sua carteira.</p>

<h2>Objetivos específicos</h2>

<p>Reduz custos de sinistros: A solução ajuda a identificar clientes que podem precisar de cuidados preventivos e sugere consultas personalizadas, evitando o surgimento de problemas maiores e mais caros.</p>

<p>Automatiza a prevenção: Ao usar IA para sugerir consultas preventivas com base nas preferências dos clientes, o sistema evita a espera passiva por problemas emergenciais e passa a atuar de forma proativa, ajudando Mariana a controlar melhor os gastos.</p>

<p>Garante atendimento de qualidade: A solução só sugere especialistas com notas acima de 4 e custos mais baixos, mantendo a satisfação dos clientes e garantindo cuidados de qualidade.</p>

<p>Fortalece a rede de parceiros: Além de beneficiar os clientes, a solução leva mais pacientes para as clínicas parceiras, o que ajuda a aumentar a receita dessas instituições, mantendo-as engajadas com a operadora.</p>