@{
    ViewData["Title"] = "Objetivos";
}

<section class="objectives-section" style="min-height: 100vh;">
    <div class="content-left">
        <h1>@ViewData["Title"]</h1>

        <h2>Objetivo Geral</h2>
        <p>Desenvolver um sistema inteligente de monitoramento e controle de consumo de energia elétrica em residências, utilizando .NET e inteligência artificial com Python, para promover a conscientização sobre o uso eficiente de energia e a redução de custos.</p>

        <h2>Objetivos Específicos</h2>

        <div class="objective">
            <h3>Mapeamento do Consumo de Energia</h3>
            <p>Criar um mapa interativo de um apartamento de dois quartos, sala, cozinha, banheiro e lavanderia, que mostre o consumo de energia em tempo real utilizando cores que variam do verde claro ao vermelho, indicando os pontos de maior consumo.</p>
        </div>

        <div class="objective">
            <h3>Monitoramento em tempo real</h3>
            <p>Implementar sensores de energia em diferentes pontos do apartamento para coletar dados de consumo em tempo real e enviar essas informações para o servidor.</p>
        </div>

        <div class="objective">
            <h3>Análise de dados e previsão de consumo</h3>
            <p>Utilizar técnicas de machine learning para analisar os dados coletados, prever o consumo de energia e identificar padrões de uso que possam indicar desperdícios ou necessidade de manutenção.</p>
        </div>

        <div class="objective">
            <h3>Visualização e feedback ao usuário</h3>
            <p>Desenvolver um dashboard interativo que permita aos moradores visualizar o consumo de energia em tempo real, com gráficos e alertas sobre áreas de alto consumo e sugestões de economia.</p>
        </div>

        <div class="objective">
            <h3>Estimativa de custos</h3>
            <p>Calcular e exibir a estimativa do valor da conta de luz com base no consumo atual, ajudando os moradores a entenderem o impacto financeiro do uso de energia.</p>
        </div>

        <div class="objective">
            <h3>Recomendações de manutenção</h3>
            <p>Fornecer recomendações específicas sobre onde realizar manutenção ou ajustes para reduzir o consumo de energia, baseadas na análise dos dados coletados.</p>
        </div>

        <div class="objective">
            <h3>Integração de tecnologias</h3>
            <p>Integrar as tecnologias .NET para o desenvolvimento do frontend e backend, e Python para a coleta e análise de dados, garantindo uma comunicação eficiente entre os componentes do sistema.</p>
        </div>
    </div>

    <div class="content-right">
        <div class="energy-map">
            <!-- Aqui você pode adicionar o mapa do ambiente residencial -->
            <img src="/assets/Home/imagem7.png" alt="Mapa Residencial" class="map-image" />
        </div>
    </div>
</section>
