@{
    ViewData["Title"] = "Problema";
}

<section class="energy-section-problem">
    <h1 class="title">@ViewData["Title"]</h1>

    <h3 class="highlight-text" style="color: black;">Curiosidade</h3>

    <div style="max-width: 100vh;">
    <p style="font-size: large;">Em um cenário global cada vez mais afetado pelas mudanças climáticas e pela crescente necessidade de fontes de energia limpas e renováveis, a transição para um modelo energético sustentável tornou-se uma prioridade. Governos, empresas e a sociedade civil estão unindo esforços para desenvolver soluções que promovam equilíbrio ambiental e econômico. Nesse contexto, a inovação tecnológica surge como uma aliada indispensável, possibilitando avanços em geração, armazenamento e consumo de energia.</p>

    <h3 class="highlight-text pt-3" style="color: black;">Matéria</h3>
    <p>Com a seca na região Norte do país, usinas hidrelétricas importantes estão gerando menos energia. Por isso, para atender aos horários de pico de consumo e baixa geração de energia renovável, no início da noite, é necessário acionar usinas termelétricas –que são mais caras.</p>
    <span>Fonte: Aneel aciona bandeira tarifária vermelha 2 para outubro; conta de luz fica mais cara | Economia | G1 (globo.com)</span>

    <h3 class="highlight-text pt-3" style="color: black;">Foco</h3>
    <p>Para entender esse comportamento de consumo elevado, queremos entender o comportamento das pessoas em suas residências, conhecendo os ambientes que mais estão consumindo e chegando no detalhe dos itens que estão manipulando o alto consumo e até mesmo, precisam de atenção dos moradores. </p>
    </div>

    <div class="energy-bar-container">
        <div class="energy-bar"></div>
    </div>
</section>

