@{
    ViewData["Title"] = "Sobre o Projeto";
}

<section class="project-section">
    <h1>@ViewData["Title"]</h1>

    <div style="max-width: 60vh;">
        <p><strong>Nosso objetivo</strong> é trabalhar em cima da energia, monitorando os ambientes dos clientes e sinalizando sempre que houver desvios, além de informar o valor da sua próxima fatura dia a dia, de acordo com seu consumo atual.</p>

        <h2>Para os Clientes</h2>
        <p>Nosso projeto consiste em desenvolver um mapa eletrônico que sugira ambientes e itens onde o consumo está ativo, funcionando como uma forma de prevenções para os clientes, sem que eles precisem entrar em contato. Ao aceitar essas sugestões, o cliente poderá acompanhar todo o processo através de um gerenciador, seja no celular ou no computador. Participando de algumas atividades, ele saberá quais itens de sua casa precisam de manutenção, quais são os horários de pico e sugestões que irão ajuda-lo na redução do consumo. Além de poder pesquisar por profissionais que podem realizar as manutenções de seus equipamentos, com preços acessíveis, pois teremos uam base de parceiros cadastrados que podem atender 24 horas por dia.</p>
    </div>

</section>
