@{
    ViewData["Title"] = "Sobre o Projeto";
}
<h1>@ViewData["Title"]</h1>

<h2>Cliente</h2>
<p>Nosso projeto consiste em desenvolver uma agenda eletrônica que sugira consultas preventivas para os clientes, sem que eles precisem entrar em contato. Ao aceitar essas consultas, o cliente poderá acompanhar todo o processo através de um gerenciador. Participando de algumas atividades, ele também fará parte do nosso programa de benefícios, incentivando a participação nas atividades e a manutenção da saúde.</p>

<h2>Clínica</h2>
<p>Para atender as clínicas, criaremos um painel de gerenciamento de serviços, já que não temos acesso às agendas dos especialistas/médicos. As clínicas receberão os serviços, avaliarão suas agendas e responderão aceitando ou recusando os serviços. Se aceitos, uma segunda tela será habilitada com uma Agenda/Calendário, mostrando as principais consultas, seus status e os dados dos clientes.</p>

<h2>Especialistas</h2>
<p>Quanto aos especialistas, precisaremos de sua ajuda para criar materiais que auxiliarão nos treinamentos dos clientes/pacientes. Esses materiais conterão conteúdos educativos que, além de evitar consultas presenciais ou remotas, ajudarão os clientes a realizar tratamentos simples em suas rotinas. Os especialistas também terão um painel que mostrará as avaliações baseadas na opinião dos pacientes, permitindo a criação de um plano de ação para melhorar o atendimento e ganhar benefícios no nosso programa.</p>