@{
    ViewData["Title"] = "Sobre o Projeto";
}

<section class="project-section">
    <h1>@ViewData["Title"]</h1>

    <div style="max-width: 60vh;">
        <p><strong>Nosso objetivo</strong> é trabalhar em cima da energia, monitorando os ambientes dos clientes e sinalizando sempre que houver desvios, além de informar o valor da sua próxima fatura dia a dia, de acordo com seu consumo atual.</p>

        <h2 class="pt-3">Para os Clientes</h2>
        <p>Nosso projeto visa criar um mapa eletrônico inteligente que sugira ambientes e itens com consumo ativo, funcionando como uma ferramenta preventiva para os clientes, sem a necessidade de contato direto. Ao aceitar essas sugestões, o cliente poderá acompanhar todo o processo de forma prática, seja pelo celular ou computador.</p>
        <p>Ao participar de atividades específicas, ele será informado sobre os itens de sua residência que precisam de manutenção, os horários de pico de consumo e receberá sugestões valiosas para reduzir os gastos. Além disso, terá acesso a uma gama de sugestões que irão contribuir para a redução dos custos e para ajudar o meio ambiente ao utilizar equipamentos mais sustentáveis e econômico.</p>
    </div>

</section>
