@{
    ViewData["Title"] = "Sobre nós";
}

<section class="energy-section">
    <h1 class="title">@ViewData["Title"]</h1>

    <h2 class="sub-title">Nossa essência</h2>

    <h3 class="highlight-text">Servir, cuidar e economizar.</h3>

    <p style="color: black; font-size: xx-large;">Automatizamos sua residência para garantir eficiência, segurança e economia. Com nosso sistema, você identifica os pontos críticos de manutenção e consumo, economiza energia e cuida do meio ambiente. Tudo isso enquanto cuidamos da sua casa e da sua tranquilidade financeira, avisando você sobre qualquer necessidade de reparo ou mudança nos custos. Assim, você sabe exatamente onde está economizando e mantém o controle da sua conta de luz e dos reparos futuros, sem preocupações.</p>

    <h2 class="tagline">Servir é <span class="animated-tag">CUIDAR</span>: Cliente <span class="animated-tag">ECONOMIZANDO</span>, consumo <span class="animated-tag">RENTÁVEL</span>.</h2>

    <div class="energy-bar-container">
        <div class="energy-bar"></div>
    </div>
</section>
