<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
@{
    ViewData["Title"] = "Dados do Time";
}
<div class="container text-center mt-5">
    <h1>@ViewData["Title"]</h1>
    <div class="row justify-content-center mt-4">
        <div class="col-md-4">
            <div class="card">
                <img src="/assets/Team/claudio.jpeg" class="card-img-top" alt="Imagem do Time">
                <div class="card-body">
                    <h5 class="card-title">Claudio Silva Bispo</h5>
                    <p class="card-text">Desenvolvedor Front-End e Dados</p>
                    <a href="https://www.instagram.com/seu_instagram" class="btn btn-primary">
                        <i class="fab fa-instagram"></i> Instagram
                    </a>
                    <a href="https://www.linkedin.com/in/seu_linkedin" class="btn btn-info">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                    <a href="https://wa.me/seu_whatsapp" class="btn btn-success">
                        <i class="fab fa-whatsapp"></i> WhatsApp
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/assets/Team/patricia.jpeg" class="card-img-top" alt="Imagem do Time">
                <div class="card-body">
                    <h5 class="card-title">Patricia Naomi</h5>
                    <p class="card-text">Desenvolvedora Back-End em Java</p>
                    <a href="https://www.instagram.com/seu_instagram" class="btn btn-primary">
                        <i class="fab fa-instagram"></i> Instagram
                    </a>
                    <a href="https://www.linkedin.com/in/seu_linkedin" class="btn btn-info">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                    <a href="https://wa.me/seu_whatsapp" class="btn btn-success">
                        <i class="fab fa-whatsapp"></i> WhatsApp
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>