@{
    ViewData["Title"] = "Vídeo sobre nosso projeto";
}

<a href="https://youtu.be/JoY1wFdp5v4" target="_blank">
    <section class="background-image-video" style="min-height: 85vh;">
    </section>
</a>