@{
    ViewData["Title"] = "Vídeo sobre nosso projeto";
}

<a href="https://www.youtube.com/watch?v=SEU_VIDEO_ID" target="_blank">
    <section class="background-image-video" style="min-height: 85vh;">
    </section>
</a>