@model LexusTech.Models.Consumo

@{
    ViewData["Title"] = "Atualizar dados do usuário";
}

<section class="d-flex justify-content-center align-items-center mt-5" style="height: 80vh">
    <!-- Container do Formulário ocupando 20% da largura e 100% da altura -->
    <div class="w-20 d-flex align-items-center justify-content-center" style="height: 100vh; padding-right: 10px;">
        <div class="container-fluid border p-4" style="min-height: 80vh; width: 60vh;">
            <h2>Atualizar dados</h2>
            <form asp-action="Atualizar" method="post">
                <div class="form-group">
                    <label asp-for="IdConsumo" class="control-label">IdConsumo</label>
                    <input asp-for="IdConsumo" class="form-control"/>
                    <span asp-validation-for="IdConsumo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdUsuario" class="control-label">IdUsuario</label>
                    <input asp-for="IdUsuario" class="form-control"/>
                    <span asp-validation-for="IdUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comodo" class="control-label">IdComodo</label>
                    <input asp-for="Comodo" class="form-control"/>
                    <span asp-validation-for="Comodo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Item" class="control-label">IdItemCasa</label>
                    <input asp-for="Item" class="form-control" />
                    <span asp-validation-for="Item" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="ConsumoDiario" class="control-label">ConsumoDiario</label>
                    <input asp-for="ConsumoDiario" class="form-control" type="password"/>
                    <span asp-validation-for="ConsumoDiario" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DataConsumo" class="control-label">DataConsumo</label>
                    <input asp-for="DataConsumo" class="form-control" type="password"/>
                    <span asp-validation-for="DataConsumo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Valor" class="control-label">Valor</label>
                    <input asp-for="Valor" class="form-control" type="password"/>
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>

                <div class="form-group pt-3">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <a asp-controller="DadosCadastrais" asp-action="Consultar" class="btn btn-secondary">Consultar</a>
                </div>
            </form>
        </div>
    </div>

    <!-- Container da Imagem ocupando 80% da largura e 100% da altura -->
    <div class="w-80" style="height: 80vh">
        <img src="~/assets/Usuario/imagem.png" alt="Imagem de fundo para área de cadastro cliente" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}