@{
    ViewBag.Title = "Atualização dos dados - Sucesso";
}

<section class="energy-section" style="min-height: 80vh;">

    <h2>Seus dados foram excluidos da nossa base!</h2>
    <p>Para voltar e conferir nossa solução, você precisa cadastrar o novo endereço para aproveitar nosso modelo de negócio.</p>

    <p>Te vemos logo, abraços!</p>

    <div>
        <a asp-controller="Endereco" asp-action="Criar"  class="btn btn-primary">Cadastrar endereço</a>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Home</a>
    </div>
</section>