@using System.Security.Claims
@model LexusTech.Models.Item

@{
    ViewData["Title"] = "Cadastrar os itens que serão mapeados";
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<section class="d-flex justify-content-center align-items-center mb-5 pt-5" style="height: 80vh;">
    
    <div class="w-20 d-flex align-items-center justify-content-center" style="height: 70vh; padding-right: 10px;">
        
        <div class="container-fluid border p-4" style="min-height: 80vh; width: 60vh;">

            <!-- Saudação personalizada -->
                <h6 class="mb-4">
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        @* Exibe o nome do usuário se ele estiver logado *@
                        <span style="color: #73977F;">Olá @User.Identity.Name, esperamos que esteja bem!</span>

                        /*<p>Id do banco: @userId</p>*/

                    }
                    else
                    {
                        @* Exibe "Visitante" se o usuário não estiver logado. Não tem que acontecer aqui, mas vou deixar por precaução. *@
                        <span>Bem-vindo, Visitante! Faça login para acessar suas informações.</span>
                    }
                </h6>
            <p>Preenchendo o combo de informações, além de economizar mensalmente, consiga sugestões que farão seus móveis durarem mais e ajudar o meio ambiente.</p>

            <h2 class="fs-4 pt-3">Itens</h2>

            <form asp-action="Criar" method="post">

                <!-- Campo oculto para armazenar o ID do Cliente -->
                <input type="hidden" asp-for="IdUsuario" value="@userId" />

                <!-- Seletor de ambientes com múltiplas seleções -->
                <div class="form-group">
                    <label asp-for="DescricaoItem" class="control-label">Itens</label>
                    <select id="itens" class="form-control" name="DescricaoItem" multiple>
                        <option value="tv">TV</option>
                        <option value="microondas">Microondas</option>
                        <option value="geladeira">Geladeira</option>
                        <option value="maquinalavar">Máquina de Lavar</option>
                        <option value="maquinasecar">Máquina de Secar</option>
                        <option value="computador">Computador</option>
                        <option value="secador">Secador</option>
                        <option value="chuveiro">Chuveiro</option>
                        <option value="arcondicionado">Ar Condicionado</option>
                    </select>
                    <span asp-validation-for="DescricaoItem" class="text-danger"></span>
                </div>
                
                <div class="form-group pt-3">
                    <input type="submit" value="Salvar" class="btn btn-primary" />

                    <!-- Botão que redireciona para a ação Consultar do controller EnderecoPreferencia -->
                    <a asp-controller="Item" asp-action="Consultar" class="btn btn-secondary">Consultar</a>
                    
                    <!-- Botão que redireciona para a página CriarDiaSemanaPreferencia -->
                    <a asp-controller="Imagem" asp-action="Index" class="btn " style="background-color: #4CAF50; color: white;">Continuar</a>

                    

                    <a asp-controller="Comodo" asp-action="Criar" class="btn btn-warning">Voltar</a>

                </div>

                <!-- Exibir alerta de sucesso, se houver -->
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success mt-3">
                        @TempData["SuccessMessage"]
                    </div>
                }
            </form>

        </div>
    </div>

    <div class="w-80" style="height: 80vh">
        <img src="~/assets/Ambientes/imagem.jpg" alt="Imagem de fundo para área de cadastro cliente" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
